<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="elasticConnectionString" value="http://172.16.18.206:9200"/>
    <add key="sqlConnectionString" value="Data Source=194.247.149.35;Initial Catalog=searchdb2;User ID=kiselev;Password=30216985;"/>
  </appSettings>

</configuration>